/* Importe la police de caractères Poppins depuis Google Fonts avec différentes variations de poids */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Applique des styles à tous les éléments de la page */
* {
    margin: 0; /* Aucune marge extérieure */
    padding: 0; /* Aucun remplissage intérieur */
    box-sizing: border-box; /* La taille déclarée inclut le remplissage et la bordure, mais pas les marges */
    font-family: 'Poppins', sans-serif; /* Utilise la police Poppins comme police par défaut avec fallback sur une police sans empattement */
}

body {
    display: flex; /* Utilise le modèle de boîte flexible pour le corps de la page */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    min-height: 100vh; /* Définit une hauteur minimale de 100% de la hauteur de la vue (viewport height) pour remplir l'écran */
    background: url(sa.jpeg); /* Définit une image de fond pour le corps de la page */
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
    background-size: cover; /* Redimensionne l'image de fond pour couvrir toute la surface disponible sans déformation */
}

.container {
    position: relative; /* Positionne l'élément par rapport à sa position normale */
    width: 256px; /* Fixe la largeur de l'élément à 256 pixels */
    height: 256px; /* Fixe la hauteur de l'élément à 256 pixels */
    display: flex; /* Utilise le modèle de boîte flexible pour l'élément .container */
    justify-content: center; /* Centre le contenu horizontalement à l'intérieur de .container */
    align-items: center; /* Centre le contenu verticalement à l'intérieur de .container */
}

.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: orange;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}
@keyframes animateBlink {
    0% {
        background: white;
    }
    25% {
        background: green;
    }
}
.login-box {
    position: absolute;
    width: 400px;
}
.login-box form {
    width: 100%;
    padding: 0 50px;
}
h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-box {
    position: relative;
    margin: 25px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: orange;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0ef;
}
.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a {
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 600;
}



.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}